.Layout {
  background-color: rgb(182, 228, 255);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 51vw;
  display: grid;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
}

.card {
  margin: 0.8vw;
  padding: 10px;
  border-radius: 16px;
  background-color: rgb(156, 216, 252);
  grid-row-end: span 24;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border-style: inset;
  border-color: rgb(0, 0, 0);
  border-width: 1px;
  text-align: center;
}

.tema {
  overflow-wrap: normal;
  justify-content: center;
  text-align: justify;
}

a {
  font-size: 1.5rem;
  color: black;
}
